{% extends 'base.html'%}

{% block content %}

<div class="container">

<div class="row">


  <div class="col-md-4">
    <h3> {{user.username| capitalize}} </h3>

    {% if user.bio %}
      <p> {{user.bio}}</p>

    {%else%}
      <p> {{user.username| capitalize}} has no bio </p>
    {% endif %}

    {% if user == current_user %}
      <a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a>
    {% endif %}

  </div>
  <div class="col-md-4">
    {% if user.profile_pic_path %}

    <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">

    {%else%}
    <p>No profile picture</p>
    
      {% endif %}
 

  
  </div>



</div>
<h3 class="text-center">Blogs</h3>

    {% if blogs %}
    <div class="row ">
            {% for blog in blogs %}
            <div class="col-md-3 card-group">
            <h3 class="source-name">{{blog.title | upper}}</h3>
            <div class="white">
                <p>Posted by <strong> {{blog.user.username}}</strong></p>
                <p>Date: <strong>{{blog.posted}}</strong></p>
                <p>"{{blog.message}}"</p>
                
            </div>
            </div>
                {% endfor %}

            {% else %}
            <h2>You have no Blogs</h2>
            {% endif %}

</div>
{% endblock %}